<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ลงทะเบียน</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>

    <style>
        .input-field {
            @apply w-full border border-slate-300 p-2 text-md rounded-lg;
        }

        #signatureCanvas {
            border: 1px solid #ccc;
            width: 100%;
            height: 100px;
            touch-action: none;
            /* Prevent default touch actions that might interfere */
        }
    </style>
</head>

<body class="bg-slate-50 min-h-screen">
    <div id="app">
        <v-app>
            <v-main>
                <div class="max-w-md m-auto p-2">
                    <form @submit.prevent="submitForm">
                        <div class="p-8">
                            <div class="mb-5 text-center">
                                <h2>ลงทะเบียน</h2>
                                <div class="mx-auto w-48 text-slate-500 text-xs text-center mt-1">กรุณากรอกข้อมูลให้ครบถ้วน
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="mb-4">
                                    <input type="text"
                                        class="input-field w-full  bg-slate-200 p-2 text-slate-500 text-sm text-center rounded-lg"
                                        id="userlineId" placeholder="lineId" name="userlineId" readonly
                                        v-model="formData.userlineId">
                                </div>
                                <div class="mb-4">
                                    <input type="text" class="input-field" id="nameId" placeholder="ชื่อ-สกุล"
                                        name="nameId" required v-model="formData.nameId">
                                </div>
                                <div class="mb-4">
                                    <input type="text" class="input-field" id="keynumberId" placeholder="เลข ท."
                                        name="keynumberId" required v-model="formData.keynumberId">
                                </div>
                                <div class="mb-6">
                                    <label for="signatureCanvas"
                                        class="block text-sm font-medium text-gray-700 mb-1">ลายเซ็น</label>
                                    <canvas id="signatureCanvas" class="w-full border border-slate-300 rounded-lg"></canvas>
                                    <button type="button" class="mt-2 text-sm text-red-500 hover:underline"
                                        @click="clearSignature">เคลียร์ลายเซ็น</button>
                                </div>
                            </div>
                            <button type="submit" id="submitBtn"
                                class="bg-slate-800 text-center w-full text-white py-4 px-4 rounded-lg hover:bg-blue-700">บันทึกข้อมูล</button>
                        </div>
                    </form>
                    <v-snackbar v-model="snackbar.show" :color="snackbar.color" bottom>
                        {{ snackbar.message }}
                        <template v-slot:action="{ attrs }">
                            <v-btn color="white" text v-bind="attrs" :timeout="snackbar.timeout"
                                @click="snackbar.show = false">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                        </template>
                    </v-snackbar>
                </div>
            </v-main>
        </v-app>
    </div>

    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
                formData: {
                    userlineId: '',
                    nameId: '',
                    keynumberId: '',
                    signature: '' // Add signature property
                },
                snackbar: {
                    show: false,
                    message: '',
                    color: '',
                    timeout: 5000
                },
                signaturePad: null // Signature pad instance
            }),
            mounted() {
                this.initializeLiff();
                this.initializeSignaturePad();
            },
            methods: {
                async initializeLiff() {
                    try {
                        await liff.init({
                            liffId: `2007047383-9n1A0g3Y`
                        });

                        if (liff.isLoggedIn()) {
                            this.getUserProfile();
                        } else {
                            liff.login();
                        }
                    } catch (error) {
                        console.error('เกิดข้อผิดพลาดในการเริ่มต้น LIFF:', error);
                        this.showSnackbar({
                            message: `เกิดข้อผิดพลาดในการเริ่มต้น LIFF: ${error.message}`,
                            color: 'error'
                        });
                    }
                },
                async getUserProfile() {
                    try {
                        const profile = await liff.getProfile();
                        this.formData.userlineId = profile.userId;
                    } catch (error) {
                        console.error('เกิดข้อผิดพลาดในการดึงข้อมูลโปรไฟล์:', error);
                        this.showSnackbar({
                            message: `เกิดข้อผิดพลาดในการดึงข้อมูลโปรไฟล์: ${error.message}`,
                            color: 'error'
                        });
                    }
                },
                initializeSignaturePad() {
                    const canvas = document.getElementById('signatureCanvas');
                    this.signaturePad = new SignaturePad(canvas, {
                        penColor: 'rgb(0, 0, 0)'
                    });
                },
                clearSignature() {
                    this.signaturePad.clear();
                },
                async submitForm() {
                    if (this.signaturePad.isEmpty()) {
                        this.showSnackbar({
                            message: 'กรุณาเซ็นลายเซ็น',
                            color: 'warning'
                        });
                        return;
                    }
                    try {
                        this.formData.signature = this.signaturePad.toDataURL();
                        const url = 'https://script.google.com/macros/s/AKfycbzSerwuPr3tV_kb_bWIayfabD_wCVk_iSVj0gjyBjeek70aeEtIK3aTiHh17VZD0Gtq/execc';
                        const response = await fetch(url, {
                            method: 'POST',
                            body: JSON.stringify(this.formData)
                        });

                        const data = await response.text();
                        console.log('Success:', data);

                        this.showSnackbar({
                            message: 'บันทึกข้อมูลสำเร็จ!',
                            color: 'success'
                        });
                        liff.closeWindow();
                    } catch (error) {
                        console.error('Error:', error);
                        this.showSnackbar({
                            message: `เกิดข้อผิดพลาดในการบันทึกข้อมูล: ${error.message}`,
                            color: 'error'
                        });
                    }
                },
                showSnackbar: function({
                    message,
                    color
                }) {
                    this.snackbar.message = message;
                    this.snackbar.color = color;
                    this.snackbar.show = true;
                }
            }
        });
    </script>
</body>

</html>
